html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
}


/*HEADER LINE*/
#header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  /*Need to push everything over a tad when page is large.*/
}
#header img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}
#header p {
  margin: 0.66rem 0;
}

/*NEW-ARRIVAL SECTION*/
#new-arrival {
  background-image: url("../images/mainbackground.jpeg");
  height: 25rem;
  /*Need to adjust for width when website changes.*/
}
#new-arrival .text-box {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 20rem;
  position: relative;
  top: 9rem;
}
#new-arrival .text-box h3 {
  padding-top: 2rem;
  padding-left: 3rem;
}
#new-arrival .text-box h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

/*NAV BAR*/
nav {
  background-color: firebrick;
  display: flex;
  justify-content: space-between;
}
nav p {
  padding: 0.75rem 0.5rem;
}
/*BACKUP NAV BAR*/
#backup-nav {
  background-color: firebrick;
  display: flex;
  justify-content: center;
}
#backup-nav p {
  padding: 0.75rem 0.5rem;
  color: white;
}

/*PRODUCTS SECTION*/
#products {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item {
  border: 4px solid black;
  text-align: center;
  width: 30%;
  min-width: 18rem;
  display: flex;
  flex-direction: column;
  /*Boxes shouldn't be moving*/
}
.item img {
  max-height: 9rem;
  width: auto;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  /*images are super distorted*/
}
.item p {
  background-color: black;
  padding: 0.5rem 0;
}

/*INFORMATION SECTION*/
#information {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 4rem;
}
#information .top {
  background-color: black;
  padding: 1rem 2rem;
}
.numbers {
  color: black;
  background-color: white;
}
#location, #hours {
  width: 35%;
}

/*FOOTER*/
footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: left;
  background-color: black;
  display: flex;
}
footer p {
  display: flex;
  align-items: center;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 1024px) {
  #backup-nav {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    display: none;
  }
  #glasses {
    display: none;
  }
  .item {
    width: 47%;
  }
  #location, #hours {
    width: 35%;
  }
}

@media only screen and (max-width: 470px) {
  #new-arrival {
    height: 15rem;
  }
  #new-arrival .text-box {
    width: 100%;
    top: 10rem;
  }
  #new-arrival .text-box h3 {
    font-size: 0.77rem;
    padding-top: 1rem;
    padding-left: 2rem;
  }
  #new-arrival .text-box h1 {
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
  .item {
    width: 90%;
  }
  #products {
    display: flex;
    justify-content: center;
  }
  #watch {
    display: none;
  }
  #information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;
  }
  #location, #hours {
    width: 90%;
  }
  #hours {
    margin-top: 0.5rem;
  }
  footer {
    display: flex;
    justify-content: center;
  }
}
